html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.navbar {
  background-color: #1f2937;
  position: fixed;
  top: 0px;
  width: 100%;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  padding-left: 10%;
  padding-right: 40%;
}

.link {
  color: #e5e7eb;
  font-size: 18px;
}


.hero {
  background-color: #1f2937;
}

.hero-div {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8%;
}

.hero-text {
  text-align: left;
  padding: 20px 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-text {
  width: 500px;
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  text-align: left;
  margin-bottom: 0%;
}

.sec-text {
  text-align: left;
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
  width: 70%;
}

.button {
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  font-weight: 800;
  width: 10%;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 75%;
  height: 75%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.information-header-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.img-div {
  display: flex;
  width: 80%;
}

.info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-img {
  width: 60%;
  border-radius: 20px;
  border: 4px solid #3882f6;
}

.subtext {
  width: 50%;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}

.source {
  font-size: 28px;
  font-weight: bold;
  padding-left: 40%;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.call-to-action-text {
  background-color: #3882f6;
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 10px;
}

.call-to-action-text-div {
  padding: 5%;
  color: #f9faf8;
}

.call-to-action-button {
  background-color: #3882f6;
  color: #f9faf8;
  border: 2px solid #f9faf8;
  border-radius: 5px;
  width: 10%;
  height: 10%;
  padding: 6px;
  margin: 8% 5% 0% 25%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
}